@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  width: 100%;
  background-color: black;
  overflow-x: hidden;
}
body{
  overflow-x: hidden;
  background-color: #111111;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "SFPRO";
  src: url("/fonts/SFPRODISPLAYHEAVYITALIC.OTF") format("opentype");
}


@font-face {
  font-family: 'Inter';
  src: url("/fonts/inter_font.tff") format("truetype");
}

@font-face {
  font-family: 'SFPRO Bold';
  src: url("/fonts/SFPRODISPLAYBOLD.OTF") format("opentype");
}



@font-face {
  font-family: 'NB-International-Bold';
  src: url("/fonts/number_font.otf") format("opentype");
}



.sf-pro {
  font-family: "SFPRO";
}

.inter {
  font-family: "Inter";
}



.sf-bold {
  font-family: "SFPRO Bold";
}

.helvetica {
  font-family: "SFPRO Bold";
}








/* Scrollbar styles for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  overflow: scroll; 
  scrollbar-width: none; 
  display: none; 
}

::-webkit-scrollbar-thumb {
  overflow: scroll; 
  scrollbar-width: none;
  display: none; 
}

.background-element-grid {
  position: absolute;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgb(255 255 255 / 6%) 1px, transparent 1px), linear-gradient(to bottom, rgb(255 255 255 / 6%) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: 0; 
  transform: skewY(12deg);
  
}

.background-element {
  width: 100vw;
  height: 100vh;
  border-radius: 100%;
  background-color: #60606029;
  filter: blur(80px);
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}
   

  .wrapper::before {
    background: conic-gradient(
      rgba(255, 170, 64, 0.8) 0deg,
      rgba(156, 64, 255, 0.8) 30deg,
      transparent 60deg
    );
  }



   .background-dots {
    background-image: radial-gradient(circle, rgba(255, 255, 255, 0.192) 1%, transparent 16%);
    background-size: 20px 20px; /* Adjust size as needed */
    z-index: 0;
   
    --mask-offset: 280px;
    /* -webkit-mask: linear-gradient(to bottom, transparent, #fff var(--mask-offset) calc(100% - var(--mask-offset)), transparent), linear-gradient(to right, transparent, #fff var(--mask-offset) calc(100% - var(--mask-offset)), transparent); */
    mask: linear-gradient(to bottom, transparent, #fff var(--mask-offset) calc(100% - var(--mask-offset)), transparent), linear-gradient(to right, transparent, #fff var(--mask-offset) calc(100% - var(--mask-offset)), transparent);
    -webkit-mask-composite: source-in, xor;
    mask-composite: intersect;
    
  }
  
  .swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }