@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
  font-family: 'SF';
  src: url('SF.OTF') format('OTF');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url('/gradient.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #040217;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color:#fefeff35;
}
::-webkit-scrollbar-track {
  background-color: #040217;
}

section {
  width: 100%;
  height: 100vh;
  z-index: 1;
  pointer-events: all;
  background-color: transparent;
}

.experience-one {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2;
}

.experience {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 6;
}

.mobile-scroll {
  display: none;
}

/* TEXTS */

.headline {
  font-size: 5vw;
  font-family: "SF", sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  color: #fcfeea;
  font-style: italic;
}

.headline-purple {
  font-family: "EB Garamond", sans-serif;
  color:#dcd7ff;
  font-weight: 500;
  font-size: 5vw;
  margin: 0;
}

.headline-blue {
  font-family: "EB Garamond", sans-serif;
  color:#01f1ff;
  font-weight: 500;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  color: #fefeff;
  line-height: 145%;
}


/* ROTATING TEXT */

.rotatingHeader {
	width: fit-content;
	white-space: nowrap;
  height: fit-content;
  z-index: 10;
  cursor: pointer;
}

.rotatingHeader h1{
  font-family: "SF", sans-serif;
  font-weight: 600;
	color: #fefeff;
	font-size: 5vw;
	margin:0;
	padding: 0;
	line-height: 0.75;
	perspective: 600px;
  z-index: 10;
  font-style: italic;
}

.rotatingHeader h1:nth-child(2) {
  font-family: "EB Garamond", sans-serif;
  font-style: italic;
  color:#dcd7ff;
  font-weight: 500;
}

/* ACCORDION */

.accordion-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion {
  background-color: transparent;
  cursor: pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.6s ease;
  border-radius: 35px;
}

.accordion-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.accordion-icon {
  background-color: #e7e3fd;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #111111;
}

/* .accordion:hover {
  background-color: #ecf0f5;
} */

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.small-text-accordion {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1vw;
  line-height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2vw;
}

.rotate {
  transform: rotate(180deg);
}


/* NAVIGATION BAR */
.navigation {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
  top: 0;
  left: 0;
  position: absolute;
  z-index: auto;
  z-index: 20;
}

.navigation-left {
  width: fit-content;
  height: 2.25vw;
  background-color: #fcfeea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25vw;
  padding: 0 1.5%;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.navigation-left:hover {
  box-shadow: 0 0 20px 5px rgba(252, 254, 234, 0.4);
}

.navigation-left-content {
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.navigation-left-content span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.navigation-left-content span:nth-child(2) {
  position: absolute;
}

.navigation-left:hover .navigation-left-content span:nth-child(1) {
  transform: translateY(-100%);
}

.navigation-left:hover .navigation-left-content span:nth-child(2) {
  transform: translateY(-100%);
} 


.navigation-right {
  width: fit-content;
  height: 2.25vw;
  background-color: #dcd7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5%;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.navigation-right:hover {
  box-shadow: 0 0 20px 5px rgba(220, 215, 255, 0.4);
}

.navigation-right-content {
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.navigation-right-content span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.navigation-right-content span:nth-child(2) {
  position: absolute;
}

.navigation-right:hover .navigation-right-content span:nth-child(1) {
  transform: translateY(-100%);
}

.navigation-right:hover .navigation-right-content span:nth-child(2) {
  transform: translateY(-100%);
}

.navigation-text {
  font-size: 0.8vw;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.navigation-logo-text {
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #fcfeea;
}



/* SECTION ONE */

.one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.one-content {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin: 5% 10%;
}

.one-content-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  z-index: 4;
}

.one-content-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

/* SECTION TWO */

.two {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.two-content {
  width: 90%;
  margin-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.two-content-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
}

.two-content-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

/* SECTION THREE */

.three {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.three-content {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  z-index: 1;
  align-items: center;
}

.three-content-left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 5%;
}

.three-content-right {
  width: 50%;
  height: 100%;
  padding-left: 5%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.three-content-right-visual {
  width: 100%;
  height: 45vh;
  background-color: #fefeff;
  border-radius: 25px;
}

/* SECTION FOUR */

.four {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.four-content {
  width: 90%;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

/* SECTION FIVE */

.five {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
}

.five-content {
  width: 90%;
  height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

/* LOADING SCREEN DESKTOP */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 22;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: url('/gradient.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #040217;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-screen__title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
  margin: 0;
  color: #fefeff;
}

.progress__container {
  width: 100%;
  height: 0.15vw;
  background-color: #070E2B;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: #fefeff;
  transition: width 0.5s ease-in-out;
}

/* SMOOTH SCROLLING */


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


/* MOBILE STYLING */

@media (max-width: 768px) {

  .mobile-scroll {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: transparent;
  }



}




