@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@font-face {
  font-family: 'SF';
  src: url('SF.OTF') format('OTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Capraia';
  src: url('capraia-book-italic.otf') format('OpenType');
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url('/gradient.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #040217;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color:#fefeff35;
}
::-webkit-scrollbar-track {
  background-color: #040217;
}

section {
  width: 100%;
  height: 100vh;
  pointer-events: all;
  background-color: transparent;
}

.experience-one {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.mobile-scroll {
  display: none;
}

/* TEXTS */

.headline {
  font-size: 5vw;
  font-family: "SF", sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  color: #fcfeea;
  font-style: italic;
}

.headline-purple {
  font-family: "Capraia", sans-serif;
  color:#dcd7ff;
  font-weight: 400;
  font-size: 5vw;
  margin: 0;
}

.headline-blue {
  font-family: "Capraia", sans-serif;
  color:#01f1ff;
  font-weight: 400;
  font-size: 5vw;
  margin: 0;
}

.description {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25vw;
  color: #fefeff;
  line-height: 145%;
}


/* ROTATING TEXT */

.rotatingHeader {
	width: fit-content;
	white-space: nowrap;
  height: fit-content;
  z-index: 10;
  cursor: pointer;
}

.rotatingHeader h1{
  font-family: "SF", sans-serif;
  font-weight: bold;
	color: #fefeff;
	font-size: 2.25vw;
	margin:0;
	padding: 0;
	line-height: 0.5;
	perspective: 600px;
  z-index: 10;
  font-style: italic;
}

.rotatingHeader h1:nth-child(2) {
  font-family: "Capraia", sans-serif;
  color:#dcd7ff;
  font-weight: 400;
}

/* ACCORDION */

.accordion-section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.accordion {
  cursor: pointer;
  padding-left: 1vw;
  padding-right: 1vw;
  padding-top: 0vw;
  padding-bottom: 0vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.6s ease;
  border-radius: 35px;
  width: 100%;
  position: relative;
  z-index: 4;
  background-color: #dcd7ff15;
  border-radius: 50px;
}

.accordion-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1vw;
  padding-top: 2vw;
  padding-bottom: 1vw;
}

.accordion-icon {
  background-color: #dcd7ff;
  width: 2vw;
  height: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #111111;
  margin-top: -1vw;
}

/* .accordion:hover {
  background-color: #ecf0f5;
} */

.rotate {
  transform: rotate(90deg);
}

.accordion-content {
  overflow: hidden;
  transition: max-height 0.5s ease;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.small-text-accordion {
  font-family: 'EB Garamond', sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 115%;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 2vw;
  color: white;
}

.rotate {
  transform: rotate(180deg);
}


/* NAVIGATION BAR */
.navigation {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5%;
  align-items: center;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid transparent;
  transition: background-color 0.3s ease, height 0.3s ease, backdrop-filter 0.3s ease;
}

.navigation.scrolled {
  background-color: transparent; /* Change to your preferred color */
  height: 8vh; /* Adjust to your desired height */
  backdrop-filter: blur(7px);
  z-index: 10;
  border-bottom: 1px solid #fcfeea25;
}

.navigation-left {
  width: fit-content;
  height: 2.25vw;
  background-color: #fcfeea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25vw;
  padding: 0 1.5vw;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 2;
}

.navigation-left:hover {
  box-shadow: 0 0 20px 5px rgba(252, 254, 234, 0.4);
}

.navigation-left-content {
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.navigation-left-content span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.navigation-left-content span:nth-child(2) {
  position: absolute;
}

.navigation-left:hover .navigation-left-content span:nth-child(1) {
  transform: translateY(-100%);
}

.navigation-left:hover .navigation-left-content span:nth-child(2) {
  transform: translateY(-100%);
} 


.navigation-right {
  width: fit-content;
  height: 2.25vw;
  background-color: #dcd7ff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5%;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 2;
}

.navigation-right:hover {
  box-shadow: 0 0 20px 5px rgba(220, 215, 255, 0.4);
}

.navigation-right-content {
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.navigation-right-content span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.navigation-right-content span:nth-child(2) {
  position: absolute;
}

.navigation-right:hover .navigation-right-content span:nth-child(1) {
  transform: translateY(-100%);
}

.navigation-right:hover .navigation-right-content span:nth-child(2) {
  transform: translateY(-100%);
}

.navigation-center {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation-image {
  height: 80%;
  width: auto;
}

.navigation-text {
  font-size: 0.8vw;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.navigation-logo-text {
  font-size: 1.5vw;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #fcfeea;
}



/* SECTION ONE */

.one {
  height: 100vh;
  display: flex;
  flex-direction: column;
  z-index: auto;
}

.one-content {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  margin: 5% 10%;
}

.one-content-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
  gap: 3vh;
}

.one-content-left h1 {
  position: relative;
  z-index:1;
}

.one-content-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  position: relative;
}

.experience {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.one-content-buttons {
  display: flex;
  gap: 1vw;
}

.one-button {
  width: fit-content;
  height: 2.75vw;
  background-color: #fcfeea;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25vw;
  padding: 0 0.75vw;
  padding-left: 1.5vw;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 2;
  gap: 0.5vw;
}

.one-button-transparent {
  width: fit-content;
  height: 2.75vw;
  background-color: #dcd7ff15;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25vw;
  padding: 0 0.75vw;
  padding-left: 1.5vw;
  border-radius: 25px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 2;
  gap: 0.5vw;
  color: #fcfeea;
  border: 2px solid #fcfeea50;
}

.one-button:hover, .one-button-transparent:hover {
  box-shadow: 0 0 20px 5px rgba(252, 254, 234, 0.4);
}

.one-button-content {
  overflow: hidden;
  position: relative;
  height: fit-content;
}

.one-button-content span {
  display: block;
  transition: 0.75s transform cubic-bezier(0.19, 1, 0.22, 1);
}

.one-button-content span:nth-child(2) {
  position: absolute;
}

.one-button:hover .one-button-content span:nth-child(1) {
  transform: translateY(-100%);
}

.one-button:hover .one-button-content span:nth-child(2) {
  transform: translateY(-100%);
}

.one-button-transparent:hover .one-button-content span:nth-child(1) {
  transform: translateY(-100%);
}

.one-button-transparent:hover .one-button-content span:nth-child(2) {
  transform: translateY(-100%);
}


.navigation-arrow-box {
  width: 2vw;
  height: 2vw;
  background-color: #dcd7ff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-solid {
  font-size: 0.75vw;
  color: #040217;
}

.navigation-arrow-box-blue {
  width: 2vw;
  height: 2vw;
  background-color: #01f1ff;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one-content-logos {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6vh;
}

.scroller {
  width: 100%;
  height: 100%;
}

.scroller__inner {
  padding-block: 1vh;
  display: flex;
  flex-wrap: wrap;
  gap: 10vw;
  height: 100%;
  background-color: transparent;
}

.scroller__inner img {
  height: 4vh;
  width: auto;
  position: relative;
  opacity: 0.25;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    #dcd7ff,
    #dcd7ff,
    transparent
  );
  mask: linear-gradient(90deg, transparent, #dcd7ff, #dcd7ff, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* SECTION TWO */

.two {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.two-content {
  width: 90%;
  margin-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: row;
  z-index: 1;
}

.two-content-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
  justify-content: center;
}

.two-content-right {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50%;
}

/* SECTION THREE */

.three {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: auto;
  justify-content: center;
}

.three-content {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.three-content-left {
  width: 50%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 5%;
}

.three-content-left h1, p {
  position: relative;
  z-index: 4;
}

.three-content-right {
  width: 50%;
  height: 100%;
  padding-left: 5%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  height: 100%;
  width: auto;
  object-fit: contain;
}

.image-wrap {
  transition: 1s ease-out;
  transition-delay: 0.2s;
  height: 50vh;
  width: auto;
  overflow: hidden;
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
  visibility: hidden;
  position: relative;
  z-index: 4;
  border-radius: 25px;
}

.image-wrap video {
  transform: scale(1.3);
  transition: 2s ease-out;
}

.animating .image-wrap {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  visibility: visible;
  transform: skewY(0);
}

.animating video {
  transform: scale(1);
  transition: 4s ease-out;
}

.three-content-box {
  height: 50vh;
  width: 40vw;
  background-color: #d8d3ff;
  border-radius: 50px;
  display: flex;
  border: #fefeff48 solid 1px;
  z-index: 10;
  opacity: 0.5;
  padding: 2.5% 2.5%;
}

.three-content-box-left, .three-content-box-right {
  width: 50%;
  height: 100%;
  position: relative;
}

.three-video-frame {
  width: 100%;
  border-radius: 25px;
}

.three-video {
  width: 100%;
  border-radius: 25px;
  position: relative;
}


/* SECTION FOUR */

.four {
  height: 245vh;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: auto;
}

.four-experience {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.four-content-one {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.four-content-two {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: row;
}

.four-content-three {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
}

.four-content {
  width: 100%;
  height: 80vh;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding: 0% 10%;
  padding-bottom: 10%;
  justify-content: space-between;
}

.four-content-left {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* SECTION FIVE */

.five {
  height: 150vh;
  position: relative;
  z-index: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.wrapper {
  position: relative;
  width: 100%; /* Make the wrapper responsive */
  height: 100vh; /* Make the wrapper responsive */
  z-index: 1;
}

.item {
  width: 17.5vw;
  height: 17.5vw;
  color: white;
  text-align: center;
  line-height: 100%; /* Make the line-height responsive */
  font-size: 2vw;
  font-family: "Roboto", sans-serif;
  border-radius: 100%;
  background-color: #dcd7ff;
  z-index: 14;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  height: 100%; /* Make the SVG responsive */
  width: 100%; /* Make the SVG responsive */
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.st0 {
  fill: none;
  stroke: transparent;
  stroke-width: 2;
  stroke-miterlimit: 1;
}

.five-content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: wheat;
}

.five-image {
  width: 20vw;
}

.five-text {
  font-size: 5vw;
  font-family: "SF", sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 1;
  color: #fcfeea;
  font-style: italic;
}

/* LOADING SCREEN DESKTOP */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 22;
  display: grid;
  place-items: center;
  text-align: center;
  background-image: url('/gradient.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  background-color: #040217;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.loading-screen--hidden {
  animation: fade-out 0.5s ease-in-out forwards 1s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.loading-screen__title {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 4vw;
  text-transform: uppercase;
  margin: 0;
  color: #fefeff;
}

.progress__container {
  width: 100%;
  height: 0.15vw;
  background-color: #070E2B;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.progress__bar {
  width: 0;
  height: 100%;
  background-color: #fefeff;
  transition: width 0.5s ease-in-out;
}

/* SMOOTH SCROLLING */


html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}


/* MOBILE STYLING */

@media (max-width: 768px) {

  .mobile-scroll {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: transparent;
  }



}




